body{
    text-align: center;
    background: cornsilk;
    }
    h1{
    color : brown;
    size: 12px;
    }

    h2 {
        color : brown;
        size: 12px;
    }

    .account,.transaction,.client{
    border: 3px solid rgb(18, 39, 219);
    margin: 5px;
    padding: 5px;
    color: rgb(19, 6, 54);
    background: darkkhaki;
    border-radius: 12px;
    font-weight: bold;

    }

    .account:hover,.transaction:hover,.client:hover{
        color: rgb(179, 19, 19);
        background: cyan;
    }

    .accoun-list ,.details-panel,.client-list{
        height: 452px;
        width: 500px;
        margin: auto;
        overflow: auto;
    }

    